body{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.cuadro1{
    background-color: #014f86;
    display: block;
    margin: 0 auto;
}
.cuadro2{
    background-color: #014f86;
    display: block;
    margin: 0 auto;
}
.cuadro3{
    background-color: #014f86;
    display: block;
    margin: 0 auto;
}
.derecho{
    font-family: cursive;
    color: #cdcdce;
    text-align: left;
    
}
.derecho1{
    font-family: cursive;
    color: #cdcdce;
    text-align: left;
    
}
.casamatriz{
    background-color: rgb(223, 222, 222);
}
.text-center{
    color: #e2e2e2;
}

.card-text{
    color: #cdcdce;
}

.card-title{
    color: #cdcdce;
}

.card-text1{
    color: #012a4a;
    text-align: center;
}

.card-title1{
    color: #012a4a;
    text-align: center;
}

.cuadro4{
    background-color: #1165a1;
    color: #cdcdce;
}

.formcontact{
    color: #cdcdce;
    display: block;
    margin: 0 auto;
}

.video{
    display: block;
    margin: 0 auto;
}
